$_black: #3a2a50;
$_voilet: #e6e2f2;
$_back: #95c6e4;
$_blue: #e6f0f8;
$_lilac: #f1eff8;
$_orange: #fad7ce;
$_orange-two: #f9b8a7;
$_orange-dark: #e16e52;
$_orange-mail: #f4b6a7;
$_fon-nasze: #cde3f2;
$_white: #ffffff;
$_title: #b9acd9;
