<section id="cennik" class="cennik">
  <div class="container">
    <div class="cennik-wrap">
      <h3 class="cennik-title">Cennik</h3>

      <div class="cennik-wrap-content">
        <div class="cennik-text">
          <p class="cennik-text-parag">Kurs medytacji dla początkujących</p>
          <div class="cennik-text-litle">
            <p class="pln">200 PLN</p>
            <p class="za">za 4 tygodnie</p>
          </div>
        </div>

        <div class="cennik-text">
          <p class="cennik-text-parag">Kurs jogi na co dzień</p>
          <div class="cennik-text-litle">
            <p class="pln">250 PLN</p>
            <p class="za">za 6 tygodni</p>
          </div>
        </div>

        <div class="cennik-text">
          <p class="cennik-text-parag">Kurs zarządzania stresem</p>
          <div class="cennik-text-litle">
            <p class="pln">180 PLN</p>
            <p class="za">za 4 tygodnie</p>
          </div>
        </div>

        <div class="cennik-text">
          <p class="cennik-text-parag">Kurs rozwoju osobistego</p>
          <div class="cennik-text-litle">
            <p class="pln">300 PLN</p>
            <p class="za">za 8 tygodni</p>
          </div>
        </div>

        <div class="cennik-text">
          <p class="cennik-text-parag">Warsztaty rozwoju osobistego</p>
          <div class="cennik-text-litle">
            <p class="pln">150 PLN</p>
            <p class="za">za sesję</p>
          </div>
        </div>
      </div>

      <div class="cennik-pagination"></div>

      <div class="cennik-wrap-content-desk">
        <div class="cennik-text-one">
          <div class="cennik-text-desk">
            <p class="cennik-text-parag">Kurs medytacji dla początkujących</p>
            <div class="cennik-text-litle">
              <p class="pln">200 PLN</p>
              <p class="za">za 4 tygodnie</p>
            </div>
          </div>

          <div class="cennik-text-desk">
            <p class="cennik-text-parag">Kurs jogi na co dzień</p>
            <div class="cennik-text-litle">
              <p class="pln">250 PLN</p>
              <p class="za">za 6 tygodni</p>
            </div>
          </div>

          <div class="cennik-text-desk">
            <p class="cennik-text-parag">Kurs zarządzania stresem</p>
            <div class="cennik-text-litle">
              <p class="pln">180 PLN</p>
              <p class="za">za 4 tygodnie</p>
            </div>
          </div>
        </div>

        <div class="cennik-text-two">
          <div class="cennik-text-desk">
            <p class="cennik-text-parag">Kurs rozwoju osobistego</p>
            <div class="cennik-text-litle">
              <p class="pln">300 PLN</p>
              <p class="za">za 8 tygodni</p>
            </div>
          </div>

          <div class="cennik-text-desk">
            <p class="cennik-text-parag">Warsztaty rozwoju osobistego</p>
            <div class="cennik-text-litle">
              <p class="pln">150 PLN</p>
              <p class="za">za sesję</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
