<footer class="footer">
  <div class="footer-wrap">
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a href="./polityka-prywatności.html" class="footer-nav-link"
          >Polityka Prywatności</a
        >
      </li>

      <li class="footer-nav-item">
        <a href="./warunki.html" class="footer-nav-link"
          >Warunki i postanowienia</a
        >
      </li>

      <li class="footer-nav-item">
        <a href="./cookie.html" class="footer-nav-link"
          >Polityka plików cookie</a
        >
      </li>
    </ul>

    <div class="footer-text-wrap">
      <p class="footer-text">© 2025 joyepichero.com,&nbsp;</p>
      <p class="footer-text">Wszelkie prawa zastrzeżone.</p>
    </div>
  </div>
</footer>
