<header class="header">
  <div class="header-wrapper">
    <a href="/"
      ><img
        width="40"
        height="40"
        src="./img/favicon/favicon500.png"
        alt="Logo"
        class="header-logo"
    /></a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#onas" class="nav-link">O nas</a>
        </li>

        <li class="nav-item">
          <a href="#nasze" class="nav-link">Nasze kursy</a>
        </li>
        <li class="nav-item">
          <a href="#treningi" class="nav-link">Treningi i warsztaty</a>
        </li>

        <li class="nav-item">
          <a href="#historie" class="nav-link">Historie sukcesu</a>
        </li>

        <li class="nav-item">
          <a href="#cennik" class="nav-link">Cennik</a>
        </li>

        <li class="nav-item">
          <a href="#kontakt" class="nav-link">Kontakt</a>
        </li>
      </ul>
    </nav>

    <a href="/" class="header-logo-text">Joy Epic Hero</a>

    <button type="button" class="header-burger" data-modal-open>
      <img
        width="24"
        height="24"
        src="./img/burger.png"
        alt="Burger button"
        class="header-burger-img"
      />
    </button>
  </div>
</header>
