<section id="historie" class="historie">
  <div class="container">
    <div class="historie-wrap">
      <h3 class="historie-title">Historie sukcesu</h3>

      <div class="historie-slider-container">
        <div class="historie-wrap-content">
          <div class="historie-card">
            <div class="historie-card-wrap-img">
              <img
                class="historie-card-img"
                src="./img/historie/historie-one.png"
                alt="Historie image"
              />
            </div>
            <div class="historie-card-title-wrap">
              <h6 class="historie-card-title">Anna K.</h6>
              <p class="historie-card-text">
                Dzięki kursowi medytacji znalazłam wewnętrzny spokój i
                równowagę, co zmieniło moje życie zawodowe i osobiste.
              </p>
            </div>
          </div>

          <div class="historie-card">
            <div class="historie-card-wrap-img">
              <img
                class="historie-card-img"
                src="./img/historie/historie-two.png"
                alt="Historie image"
              />
            </div>
            <div class="historie-card-title-wrap">
              <h6 class="historie-card-title">Marcin W.</h6>
              <p class="historie-card-text">
                Joga w moim życiu to teraz codzienność! Dzięki warsztatom
                zmniejszyłem poziom stresu i poprawiłem swoją kondycję fizyczną.
              </p>
            </div>
          </div>

          <div class="historie-card">
            <div class="historie-card-wrap-img">
              <img
                class="historie-card-img"
                src="./img/historie/historie-three.png"
                alt="Historie image"
              />
            </div>
            <div class="historie-card-title-wrap">
              <h6 class="historie-card-title">Katarzyna S.</h6>
              <p class="historie-card-text">
                Warsztaty rozwoju osobistego pomogły mi odnaleźć sens w życiu i
                lepiej radzić sobie z trudnymi sytuacjami.
              </p>
            </div>
          </div>

          <div class="historie-card">
            <div class="historie-card-wrap-img">
              <img
                class="historie-card-img"
                src="./img/historie/historie-three.png"
                alt="Historie image"
              />
            </div>
            <div class="historie-card-title-wrap">
              <h6 class="historie-card-title">Piotr L.</h6>
              <p class="historie-card-text">
                Dzięki technikom rozwoju osobistego stałem się bardziej pewny
                siebie i motywowany do działania. Zdecydowanie polecam!
              </p>
            </div>
          </div>
        </div>

        <div class="historie-controls">
          <div class="progress-line"></div>
          <div class="dots"></div>
        </div>
      </div>
    </div>
  </div>
</section>
