<div id="modal-cookies" class="backdrop" data-backdrop>
  <div class="modal-cookies">
    <div class="modal-cookies-text-wrap">
      <p class="modal-cookies-text">
        We use cookies to improve your experience on our website.
      </p>
      <p class="modal-cookies-text">
        By browsing this website, you agree to our use of cookies
      </p>
      <a href="./cookies.html" class="modal-cookies-link">Learn more</a>
    </div>
    <div class="modal-cookies-dop-btn">
      <button type="button" class="modal-cookies-decline">
        Decline Cookies
      </button>
      <button type="button" class="modal-cookies-accept">Accept Cookies</button>
    </div>
  </div>
</div>
