<div id="modal" class="backdrop is-hidden" data-backdrop>
  <div class="modal">
    <div class="modal-header">
      <a href="/">
        <img
          class="modal-header-logo"
          src="./img/favicon/favicon500.png"
          alt="Logo image"
        />
      </a>
      <a href="/" class="modal-logo-text">Joy Epic Hero</a>
      <button type="button" class="back-button is-hidden" data-modal-close>
        <img
          width="24"
          height="24"
          src="./img/add.png"
          alt="burger-button"
          class="back-img"
        />
      </button>
    </div>

    <nav class="modal-nav is-hidden" data-modal>
      <ul class="modal-nav-list">
        <li class="modal-nav-item">
          <a href="#onas" class="modal-nav-link">O nas</a>
        </li>

        <li class="modal-nav-item">
          <a href="#nasze" class="modal-nav-link">Nasze kursy</a>
        </li>

        <li class="modal-nav-item">
          <a href="#treningi" class="modal-nav-link">Treningi i warsztaty</a>
        </li>

        <li class="modal-nav-item">
          <a href="#historie" class="modal-nav-link">Historie sukcesu</a>
        </li>

        <li class="modal-nav-item">
          <a href="#cennik" class="modal-nav-link">Cennik</a>
        </li>

        <li class="modal-nav-item">
          <a href="#kontakt" class="modal-nav-link">Kontakt</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
