<section id="onas" class="onas">
  <div class="container">
    <div class="onas-wrap">
      <h3 class="onas-title">O nas</h3>

      <div class="onas-wrap-content">
        <div class="onas-wrap-img">
          <picture class="onas-img">
            <source
              srcset="./img/onas/onas-desk-1x.png 1x"
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/onas/onas-mob-1x.png 1x,
                ./img/onas/onas-mob-2x.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img src="./img/onas/onas-mob-1x.png" alt="Image o nas" />
          </picture>
        </div>
        <div class="onas-content">
          <p class="onas-content-text">
            Joy Epic Hero to platforma, która pomaga ludziom znaleźć równowagę
            psychiczną i emocjonalną. Naszym celem jest wspieranie osób w
            rozwoju osobistym, przez medytację, jogę i techniki relaksacyjne.
            Nasza platforma oferuje szeroki wachlarz kursów i treningów, które
            pomogą Ci stać się lepszą wersją samego siebie.
          </p>
          <p class="onas-content-text">
            Nasza misja to pomóc Ci w odnalezieniu harmonii, spokoju i pewności
            siebie poprzez skuteczne i sprawdzone metody rozwoju osobistego.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
