<section id="treningi" class="treningi">
  <div class="container">
    <div class="treningi-wrap">
      <h3 class="treningi-title">Treningi i warsztaty</h3>

      <div class="treningi-wrap-content">
        <div class="treningi-text">
          <h6 class="treningi-text-title">Warsztaty medytacyjne</h6>
          <p class="treningi-text-parag">
            warsztaty, które pomagają w pełni odprężyć umysł i ciało. Nauka
            technik medytacyjnych oraz pracy z oddechem
          </p>
        </div>

        <div class="treningi-text">
          <h6 class="treningi-text-title">Treningi jogi</h6>
          <p class="treningi-text-parag">
            specjalistyczne zajęcia, które poprawiają elastyczność, równowagę i
            siłę ciała
          </p>
        </div>

        <div class="treningi-text">
          <h6 class="treningi-text-title">Warsztaty rozwoju osobistego</h6>
          <p class="treningi-text-parag">
            jak pracować nad swoją pewnością siebie, motywacją oraz
            odnalezieniem celów życiowych
          </p>
        </div>

        <div class="treningi-text">
          <h6 class="treningi-text-title">Warsztaty pracy z emocjami</h6>
          <p class="treningi-text-parag">
            zestaw ćwiczeń na poprawę pewności siebie, motywacji i pozytywnego
            jak zarządzać emocjami i zwiększyć swoją samoświadomość.
          </p>
        </div>
      </div>

      <div class="treningi-pagination"></div>

      <div class="treningi-wrap-content-desk">
        <div class="treningi-text">
          <h6 class="treningi-text-title">Warsztaty medytacyjne</h6>
          <p class="treningi-text-parag">
            warsztaty, które pomagają w pełni odprężyć umysł i ciało. Nauka
            technik medytacyjnych oraz pracy z oddechem
          </p>
        </div>

        <div class="treningi-text">
          <h6 class="treningi-text-title">Treningi jogi</h6>
          <p class="treningi-text-parag">
            specjalistyczne zajęcia, które poprawiają elastyczność, równowagę i
            siłę ciała
          </p>
        </div>

        <div class="treningi-text">
          <h6 class="treningi-text-title">Warsztaty rozwoju osobistego</h6>
          <p class="treningi-text-parag">
            jak pracować nad swoją pewnością siebie, motywacją oraz
            odnalezieniem celów życiowych
          </p>
        </div>

        <div class="treningi-text">
          <h6 class="treningi-text-title">Warsztaty pracy z emocjami</h6>
          <p class="treningi-text-parag">
            jak zarządzać emocjami i zwiększyć swoją samoświadomość.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
